// VARIABLES Y MAPS
$colors:(
    background: rgba(180, 219, 255, 0.241),
    btnNav: rgba(201, 237, 231, 0.618),
    btnNavHover: rgba(146, 238, 226, 0.693),
    btnNavMobile: rgba(225, 238, 236, 0.904),
    shadow: rgba(0, 0, 0, 0.179),
    shadowPhoto: rgba(19, 213, 187, 0.693),
    card: rgb(255, 255, 255),
    footer: #3381b1,
    footerCopy:  skyblue,
    element: #1f878cac,
    elementHover: #73c3c6ac,
    text: #172a3d

);

// FUNCIONES Y MIXINS

@function color ($colorName){
    @return map-get($colors, $colorName )
}
