// VARIABLES Y MAPS
$colors:(
    background: rgba(180, 219, 255, 0.241),
    btnNav: rgba(201, 237, 231, 0.618),
    btnNavHover: rgba(146, 238, 226, 0.693),
    btnNavMobile: rgba(225, 238, 236, 0.904),
    shadow: rgba(0, 0, 0, 0.179),
    shadowPhoto: rgba(19, 213, 187, 0.693),
    card: rgb(255, 255, 255),
    footer: #3381b1,
    footerCopy:  skyblue,
    element: #1f878cac,
    elementHover: #73c3c6ac,
    text: #172a3d

);

// FUNCIONES Y MIXINS

@function color ($colorName){
    @return map-get($colors, $colorName )
}

    
@mixin banner($color: red, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 10vh;
    box-shadow: 1px 1px 10px gray;
    &__head {
      width: 40%;
      &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &__description {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      background-color: $color;
      width: 100%;
      text-align: center;
      padding: 7% 5%;
    }
    &__button {
      background-color: color(element);
      padding: 1rem 2rem;
      margin: 1rem 0.5rem;
      width: auto;
      border-radius: 10px;
      box-shadow: 5px 5px 10px color(shadow);
      text-align: center;
      color: white;
      &:hover{
        text-decoration: none;
        color: whitesmoke;
      }
    }
    @media (max-width: 750px) {
      flex-flow: row wrap;
      &__head {
        height: 30vh;
        &__image {
          width: 100vw;
          object-fit: cover;
        }
      }
    }
  }
  